<router-outlet></router-outlet>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<form [formGroup]="userForm" class="ui form seventy" (ngSubmit)="postData();">
  <div class="field">
    <label>Name</label>
    <div class="two fields">
      <div class="field">
        <input type="text" name="first-name" placeholder="First Name" formcontrolname="firstName">
      </div>
      <div class="field">
        <input type="text" name="last-name" placeholder="Last Name" formcontrolname="lastName">
      </div>
    </div>
  </div>

  <div class="field">
    <div class="fields">
      <div class="twelve wide field">
        <input type="email" name="EMail-address" placeholder="EMAIL Address" formcontrolname="emailAddress">
      </div>
      <div class="four wide field">
        <input type="number" name="Phone-number" placeholder="PHONE Number" formcontrolname="phoneNumber">
      </div>
    </div>
  </div>

  
  <div class="two fields">
    <div class="field">
      <label>Occupation</label>
      <select class="ui search dropdown">
        <option value="FE">Fronend developer</option>
        <option value="BE">Backend developer</option>
        <option value="PD">Designer</option>
        <option value="De">Devops Engineer</option>
    
      </select>
    </div>
    <div class="field">
    <select name="" id="" placeholder="select country">
      <option value="" *ngFor="let item of data">
        {{item.name}}
      </option>
    </select>
    </div>

  </div>

  

<div class="inline fields">
  <label for="fruit">Successful:</label>
  <div class="field">

    <div class="form-check">
      <input class="form-check-input true"  formcontrolname="T" type="radio" name="flexRadioDefault" checked>
      <label class="form-check-label" for="flexRadioDefault2">
        True
      </label>
    </div>
  </div>
  <div class="field">
    <div class="form-check">
      <input class="form-check-input false" formcontrolname="F" type="radio" name="flexRadioDefault"  id="flexRadioDefault2 false" checked>
      <label class="form-check-label" for="flexRadioDefault2">
        False
      </label>
    </div>
  </div>
</div>

<button (click)="showToast('Success')" class="submit">submit</button>

</form>



